{% load static %}
{% get_static_prefix as STATIC_URL %}
<!doctype html>  

<!--[if lt IE 7 ]> <html lang="pt-br" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="pt-br" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="pt-br" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="pt-br" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Idiotismos e Provérbios</title>
  <meta name="description" content="um projeto sobre idiomas com algumas traduções não muito usuais">
  <meta name="author" content="Leo Balter">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=2">
  <script src="{{ STATIC_URL }}js/libs/modernizr-1.6.min.js"></script>

</head>

<body>

  <div id="container">
    <header>
        {% block header %}
            <h1>Idiotismos e Provérbios</h1>
			<p class="description">um projeto sobre idiomas com algumas traduções não muito usuais</p>
        {% endblock %}
    </header>
    
    <div id="main" class="main">
        {% block main %}
            <h2>{{ frase.grupo }}</h2>

            <section id="fromServer" data-id="{{ frase.id }}">
                <h3>A frase:</h3>
                <p class="phrase original">{{ frase.original }}</p>
                <!--<p><a href="#" id="callOriginal" data-call="translated1">Google Translate para a frase original</a></p>-->
                
                <h3>A tradução:</h3>
                <p class="phrase translated">{{ frase.translated }}</p>
                <!--<p><a href="#" id="callTrans" data-call="translated2">Google Translate para a frase (mal) traduzida</a></p>-->
            </section>
                       
            <section id="fromAPI">
                {% if frase.api_original %}
                <h3>A frase original via Google Translate:</h3>
                <p>{{ frase.api_original }}</p>
                {% else %}
                <p><a href="#" id="callOriginal" data-call="translated1">Ver a frase original via Google Translate</a></p>
                {% endif %}
                
                {% if frase.api_translated %}               
                <h3>A frase em inglês de volta ao português via Google Translate:</h3>
                <p>{{ frase.api_translated }}</p>
                {% else %}
                <p><a href="#" id="callTrans" data-call="translated2">Ver a frase (mal) traduzida via Google Translate</a></p>
                {% endif %}
            </section>
        {% endblock %}
    </div>
    
    {% block footer %}
	    <footer class="main">
	        <section id="about">
	            <h2>O que é tudo isso?</h2>
	            <p>Esse site traz aleatóriamente algumas frases do livro "<a href="http://pt.wikipedia.org/wiki/English_As_She_Is_Spoke" rel="nofollow" title="Wikipedia sobre o livro 'English as she is spoke'">English as she is Spoke</a>" de domínio público. Divirta-se.</p>
	            <p>Divertidamente criado em Django</p>
	        </section>
	        <h2>The land is create for:</h2>
			<section class="hCard" 
				itemtype="http://microformats.org/profile/hcard" itemscope>
				<h3 itemprop="fn">Leonardo Balter</h3>
				<p itemprop="title">Desenvolvedor Web</p>
				<p itemprop="email">leo@balter.com.br<p>
				<div itemprop="adr" itemscope>
					<p itemprop="locality">Rio de Janeiro</p>
				</div>
				<h4>Pela web:</h4>
				<ul class="linear clearfix">
					<li><a href="http://www.iloop.com.br/" itemprop="url">esse site</a></li>
					<li><a href="http://leobalter.net" itemprop="url">blog técnico</a></li>
					<li><a href="http://www.desconferencia.com.br" itemprop="url">blog de idéias</a></li>
					<li><a href="http://twitter.com/leobalter" itemprop="url">twitter</a></li>
					<li><a href="http://facebook.com/leonardo.balter" itemprop="url">facebook</a></li>
				</ul>	
			</section>
	    </footer>
	{% endblock %}
  </div> <!-- end of #container -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
  
  <script src="{{ STATIC_URL }}js/plugins.js"></script>
  <script src="{{ STATIC_URL }}js/script.js"></script>
  
  <!--[if lt IE 7 ]>
    <script src="{{ STATIC_URL }}js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21223812-1']);
  _gaq.push(['_setDomainName', '.iloop.com.br']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</body>
</html>